.App {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.clima-container {
  flex: 1;
  min-width: 50%;
  min-height: 100%;
  padding: 0.25%;
  border: 0.25vh solid #ccc;
  box-sizing: border-box;
  background-color: aquamarine;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
}

.transporte-container {
  flex: 1;
  min-width: 50%;
  min-height: 100%;
  padding: 0.5%;
  border: 0.25vh solid #ccc;
  box-sizing: border-box;
  background-color:bisque;
}


.ciudad,
.fecha-hora {
  flex: 1;
  min-width: 300px;
  margin:0.25%;
  padding: 0.25%;
  border: 0.25vh solid #ddd;
  border-radius: 5px;
  background-color: cornsilk;
  text-align: center;
  gap: 1%;
}

.info-general {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25%;
} 
.temperatura,
.estado{
  margin: auto;
  ;
}
  .temp-actual,
  .estado-clima{
  padding:0,25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #3c99d6;
  }

.icon-temp {
  width: 20%; 
  height: auto;
  margin-right: 5px;
}

.icon-clima {
  width: 20%;
}

.icon {
  width: 15%;  
}

.icon-amanecer,
.icon-atardecer{
  width: 10%;
}
.icon-min,
.icon-max{
  width: 12%;

}
.info-detallada{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 0.10%;
} 

.humedad,
.visibilidad,
.viento,
.aire {
  margin-bottom: 0.25%;
  padding: 0.25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 50%;
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.salida-puesta,
.temp-min-max {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0.25%;
}

.sol-info {
  display: grid;
  grid-template-columns:repeat (2, 1fr );
  align-items: center;
}

.salida-sol,
.puesta-sol {
  margin-bottom: 0.25%;
  padding: 0.25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 50%;
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.temp-min,
.temp-max{
  margin-bottom: 0.25%;
  padding: 0.25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 50%;
  text-align: center;
  background-color: #f4f4f4;
}


.temperatura-por-hora {
  flex: 1;
  display: flexbox;
  min-width:auto;
  gap:0.25%;
}

.lista-temperaturas {
  display: flex;
  gap:2.7%;
  padding: 0.5%;
  min-width: 60%;
  margin-top: 3%;
  overflow-x: auto;
  white-space: nowrap;
  background-color: rgb(118, 96, 153);
  border-radius: 2%;
}

.temperatura-hora {
  display: flex;
  flex-direction: column;
  align-self:self-end;
  border: 2% solid #b16430;
  padding: 1%;
  border-radius: 2%;
  text-align:end;
  background-color: cornsilk;
  font-size: small;
}